@charset "utf-8";
/* CSS Document */

#container{
	width: 960px;
	margin: 0 auto;
	
}
#header{
	height:120px;
}
#site{
	float: left;
	padding-left: 30px;
}

#content{
	width: 600px;
	float: left;
	
	
}
#sidebar{
	width: 360px;
	float: right;
	
}
#nav{
	float: right;
	width: 550px;
	height: 120px;
	font-size: 16px;
	margin-right: 20px;
}
#nav li{
	padding-left: 50px;
	float: left;
	list-style-type:none;
}
#nav li a{
	display: block;
	width: 100px;
	text-align: center;
	padding: 25px 0;
	color: #605353;
	
}
#nav li a:hover{
	background-color: #0097d8;
	
}
#footer{
	width:960px;
	margin: 0 auto;
	padding: 10px 5px;
	clear: both;
	background:#5C5858;
	color: aliceblue;
	text-align: right;
	height: 30px;
}
#footer small{
	font-weight:bold;
	font-size:0.875em;
}
#content li{
	list-style-type:none;
	width:600px;
	height:180px;
}

ul li #contenttitle {
	float:right;
	width:410px;
	margin-right: 40px;
	
}
li #contentli img {
	float:left;
	width:150px;
	
}
#container #sidebar .form {
	float:right;
}
#sidebar .menu h3 {
    text-align: center;
}
#container #sidebar .form {
}
#nav ul li {
}



.menu{
	margin-left: 10px;
}
.menu h3{
	font-size:1.625em;
	color:#66cle8;
	padding-top: 20px;
}
.menu ul{
	 
	list-style-type:none;
	
}
.menu a{
	display: block;
	font-size: 0.875em;
	color:#666666;
	padding: 10px 0 10px 20px;
	border-top:solid 1px #aaaaaa;
	
}
.menu a:hover{
	background-color: #b4f0ff;
}
.menu{
	padding-bottom:50px;
}
#container #sidebar .form{
	padding-top: 50px;
	margin: 20px;
}

#Fform{
	width:300px;
	pm
}

.form{
	
}
#h2{
	text-align: center;
}#container #school h2 {text-align: center;
}
#container #school h3 {
	text-align:center;
	
}
#container #footer #icon {
	float: left;
	padding-left: 10px;
}
